<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Payments Fraud Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/predict">Predict</a>
    </div>

    <div class="main-section">
        <h1>Online Payments Fraud Detection</h1>
        <p>
            <em>🔐 Secure Your Payments. Detect Fraud Instantly.
                    Welcome to our Online Payment Fraud Detection platform — a smart and reliable system designed to protect 
                    your digital transactions. With the increasing use of online payments, the risk of fraud has also grown. 
                    Our website helps identify suspicious activity in real time, ensuring your money stays safe.
                    We analyze transaction patterns to detect unusual behavior and flag potential fraud before it causes harm. 
                    Whether you're a regular user or a business, our goal is to give you confidence and peace of mind with every 
                    online payment. <strong>Experience a faster, safer, and smarter way to detect fraud — because your security matters.</strong>.</em>
        </p>
    </div>
</body>
</html>
